<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file"
            xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${logger}: ${message} ${exception}"
            fileName="${specialfolder:folder=ApplicationData}\FullscreenUtility\FullscreenUtility.log"
            archiveFileName="${specialfolder:folder=ApplicationData}\FullscreenUtility\FullscreenUtility.log.{0}"
            header="${longdate}: Log open."
            footer="${longdate}: Log closed."
            archiveAboveSize="20971520"
            maxArchiveFiles="2" />
  </targets>

  <rules>
    <logger name="*" minlevel="info" writeTo="file" />
  </rules>
</nlog>